@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)){
.navigation{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0rem 2rem;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index:9999;
}}
.nav-logo{
    flex: 2;
    display: flex; 
    margin-left: 5rem;
    font-weight: 700;
}

.nav-list{
    flex: 1;
}

.nav-list ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
    color: #505050;
}

.mini-menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-menu>div{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 60%;
    height: 100vh;
    display: flex;
    padding: 10px 0 0 20px;
    flex-direction: column;
    background-color: #fff;
    gap: 1.4rem;
}




@media screen and (max-width: 900px) {

    .navigation{
        top: 0;
    }
    .nav-list ul{
        display: none;
    }
    
}


@media screen and (min-width: 900px) {
    .mini-menu{
        display: none;
    }
}