.navigation{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0rem 2rem;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.nav-logo{
    flex: 2;
    display: flex; 
    margin-left: 5rem;
    font-weight: 700;
}

.nav-list{
    flex: 1;
}

.nav-list ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
    color: #505050;
}

