@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)){.btn{
  width: 10rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  /* background-color: #A0CB8A; */
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  background-color: #ffffffcc; 
  border-radius: 26px; 
  box-shadow: inset -35px 35px 68px 0px #a0cb8a80, inset 10px -10px 16px 0px #a0cb8a99, 0px 11px 28px 0px #ffffff;
}}

.btn:hover{
  cursor: pointer;
  border: 1px solid #a0cb8a80;
  box-shadow:  -3px 3px 68px 0px #a0cb8a80, inset 10px -10px 16px 0px #a0cb8a99, 0px 11px 28px 0px #ffffff;

}

@media only screen and (max-width: 768px) {

  .btn{
    width: 5rem;
    height: 1.8rem;
    font-size: 0.5rem;
  }
}