@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


*{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}