.banner-container{
    width: 90%;
    margin-left:5% ;
    padding: 2rem 0.5rem;
    height: 90vh;
    display: flex;
}

.banner-left{
    flex: 1;
}

.banner-right{
    flex: 2;
    display: flex;
}


/* image css */
.banner-img-container{
    flex: 2;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.banner-img-container>img{
    min-width: 60%;
    min-height: 60%;
    max-width: 100%;
    max-height: 100%;
    margin-top: 5%;
}

.light-glow{
    background: #fff7a1;
    position: absolute;
    width: 20vw;
    height: 10rem;
    border-radius: 50%;
    filter: blur(212px);
    z-index: -1;
    top: 2px;
    left: 60px;
    filter: blur(80px);
}

.banner-mini-info{
    flex: 1;
}